@import 'nib'

// VARIABLES
// ---------
base_font_size   = 13px
base_line_height = 20px
text_color       = #000
link_color       = #000
sidebar_width    = 220px
header_height    = 220px

// BASE
// ----
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  height: 100%

body
  margin: 0
  padding: 0
  font-size: base_font_size
  line-height: base_line_height
  font-family: serif
  color: text_color
  -webkit-font-smoothing: antialiased

  a, a:visited
    word-wrap: break-word;
    font-family: sans-serif
    color: link_color
    text-decoration: none
    font-weight: bold
    &:hover
      color: link_color
      text-decoration: underline

  // LOADING INDICATOR
  &.loading
    background: #fff url('../images/loader.gif') center center no-repeat

h1, h2, h3, h4
  font-family: sans-serif
  font-weight: bold


h1, h2, h3, h4
  font-size: base_font_size
  text-decoration: underline

nav
  margin: base_line_height 0
  text-align: left


hr
  color: #f0f0f0
  background-color: #f0f0f0
  height: 1px


.bigtitle
  font-size: 18px
  text-decoration: none



// STRUCTURE
// ---------
#menu
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: sidebar_width
  overflow-y: hidden
  overflow-x: hidden
  background-color: white
  padding: base_line_height
  font-size: base_font_size - 2
  .Text
    font-family: sans-serif
    margin-top: base_line_height
  .logo
    width: 100%
    height: 116px
    cursor: pointer

#container
  min-height: 100%
  margin-left: sidebar_width
  padding: base_line_height
  &.loading
    background: #fff url('../images/loader.gif') center center no-repeat

// CHANNEL HEADER
// ----
#header
  position: fixed
  top:0px
  left:sidebar_width
  right: 0px
  overflow-y: hidden
  overflow-x: hidden
  background-color: transparent
  pointer-events: none
  z-index: 9000

 #airpocket
  width: 50%
  height: header_height
  float: left
  line-height: header_height
  text-align: center
  pointer-events: none

#channel-title
  position: fixed
  top:0px
  left:sidebar_width
  right:0px
  height: header_height
  line-height: header_height
  text-align: center
  pointer-events: none

#channel-info
  width: 50%
  float: left
  overflow: visible
  padding: base_line_height*3 base_line_height*5
  margin-bottom: 300px
  pointer-events: auto
  background: rgba(255,255,255,.9)
  box-shadow: -20px 20px 50px white
  -webkit-box-shadow: -20px 20px 50px white
  z-index: 300
    
#info-toggle
  position: fixed
  top: base_line_height
  right: 40px
  text-align: center
  pointer-events: auto
  a 
    text-align: center
    text-transform: none
    font-size: base_font_size
    font-weight: normal

#mode
  position: fixed
  width: 70px
  top: header_height + base_line_height
  right: 0
  margin: 0

#mode a, #channel-info a.toggle
    text-transform: uppercase
    font-size: base_font_size - 2
    display: block
    text-align: left


// GRID
// ----

#blocks
  padding-top: header_height

#blocks.grid
  .block
    display: inline-block
    height: 250px
    width: 250px
    line-height: 250px
    text-align: center
    vertical-align: middle
    margin: 0 base_line_height base_line_height 0
    img
      -webkit-box-shadow: 4px 4px 4px 0px #ccc
      box-shadow: 4px 4px 4px 0px #ccc

#blocks.list

#blocks.list .block, #single
  clearfix()
  margin-bottom: base_line_height*4

  article, aside
    float: left
    width: 50%
    img, object, embed, iframe
      max-width: 100%
      max-height: 100%
      -webkit-box-shadow: 4px 4px 4px 0px #ccc
      box-shadow: 4px 4px 4px 0px #ccc
  article
    // 
  aside
    padding: 0 base_line_height*5
    h4
      margin-top: 0



// Hacky Styles for Splash Page
.whitepaper
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 8777
  background-color:white


.home
  position: fixed
  top:base_line_height
  left:sidebar_width
  width: 50%
  z-index: 8888


.connections
  border-top: 1px solid #f0f0f0
  padding-top: 10px
  overflow-y: hidden
  overflow-x: hidden
  ul, li
    list-style: none
    margin-bottom: 5px
    padding: 0
  h4
    text-decoration: none
    line-height: 10px
    padding-top: 2px
  a
    padding: 3px 6px
    background: rgba(228, 228, 228, 0.9)
    font-weight: normal
  a:visited
    padding: 3px 6px
  a:hover
    padding: 3px 6px
    background-color: white


.metadata dl
  dt
    font-weight: bold
  dt, dd
    line-height: 16px
    font-size: 12px
    font-family: sans-serif
    text-align: left
    margin: 0
    a, a:visited
      text-decoration: none

// NON-SEMANTIC / UTILITY
// -------
.hide
  display: none

.show
  display: block

.meta-sep
  color: #ccc
  margin: 0 base_line_height * 0.25

.arena-mark
  width: 21px
  height: 12px
  background: transparent url('../images/arena-mark.png') no-repeat center center
