@import 'nib'

// VARIABLES
// ---------
base_font_size   = 14px
base_line_height = 20px
text_color       = #000
link_color       = #13f
sidebar_width    = 330px


// BASE
// ----
html, body
  height: 100%

body
  margin: 0
  padding: 0
  font-size: base_font_size
  line-height: base_line_height
  font-family: serif
  color: text_color

  a, a:visited
    font-family: sans-serif
    color: link_color
    text-decoration: none
    font-weight: bold
    &:hover
      color: link_color
      text-decoration: underline

  // LOADING INDICATOR
  &.loading
    background: #fff url('../images/loader.gif') center center no-repeat

h1, h2, h3, h4
  font-family: sans-serif
  font-weight: bold


h1, h2, h3, h4
  text-align: left
  font-size: base_font_size
  text-decoration: underline

nav
  margin: base_line_height 0
  text-align: left

// STRUCTURE
// ---------

#menu
  position: fixed
  top: base_line_height
  bottom: base_line_height
  left: base_line_height
  width: sidebar_width
  overflow-y: scroll
  overflow-x: hidden
  background-color: #fff
  border: 4px solid #000
  padding: base_line_height
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

#container
  min-height: 100%
  margin-left: sidebar_width + base_line_height
  padding: base_line_height
  &.loading
    background: #fff url('../images/loader.gif') center center no-repeat

.info
  margin: 0
  border: 4px solid #000
  h1
    text-transform: uppercase
    text-align: center
    margin: 0
    padding: base_line_height
    span
      background-color: #fff
  .description
    border-top: 4px solid #000
    padding: base_line_height

.mode
  display: none
  margin: base_line_height*2 0

.pagination
  clearfix()
  margin-top: 0
  border: 4px solid #000
  .previous, .up, .next
    float: left
    display: block
    padding: base_line_height
    border-right: 4px solid #000


// GRID
// ----
#blocks.grid
  .block
    display: inline-block
    height: 250px
    width: 250px
    line-height: 250px
    text-align: center
    vertical-align: middle
    border: 4px solid #000
    margin: 0 base_line_height base_line_height 0
    &:hover
      border-color: transparent
    img
      -webkit-box-shadow: 4px 4px 4px 0px #ccc
      box-shadow: 4px 4px 4px 0px #ccc

#blocks.list .block //, #single .full
  margin: base_line_height 0
  border: 4px solid #000
  padding: base_line_height
  .content
    margin-bottom: 0
    p:last-child
      margin-bottom: 0
  img
    -webkit-box-shadow: 4px 4px 4px 0px #ccc
    box-shadow: 4px 4px 4px 0px #ccc

#single
  img
    -webkit-box-shadow: 4px 4px 4px 0px #ccc
    box-shadow: 4px 4px 4px 0px #ccc

.content
  margin: base_line_height 0
  max-width: 600px

.metadata dl
  dt
    font-weight: bold
  dt, dd
    line-height: 16px
    font-size: 12px
    font-family: sans-serif
    text-align: left
    margin: 0
    a, a:visited
      text-decoration: none

// UTILITY
// -------
.hide
  display: none

.show
  display: block

.meta-sep
  color: #ccc
  margin: 0 base_line_height * 0.25